<div class="container">
<div class="card .justify-content-center" style="width: 18rem;">
<div class="card-body">
  <h1><%= @flat.name %></h1>
</div>
<div class="card-body">
<p><%= @flat.address %></p>
</div>
<div class="card-body">
<p><%=  @flat.description %></p>
</div>
<div class="card-body">
<p><%=  @flat.price_per_night %></p>
</div>
<div class="card-body">
<p><%=  @flat.number_of_guests %></p>
</div>
</div>
<%= link_to "Go Back to Flats", flats_path , class: "btn btn-primary" %>
</div>
